USE [master]
GO
/****** Object:  Database [ClinicDB]    Script Date: 7/12/2026 12:03:54 AM ******/
CREATE DATABASE [ClinicDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ClinicDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\ClinicDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ClinicDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\ClinicDB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ClinicDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ClinicDB]
GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 7/12/2026 12:03:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[DoctorID] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [int] NOT NULL,
	[ConsultationFees] [decimal](18, 2) NOT NULL,
	[LicenseNumber] [nvarchar](50) NOT NULL,
	[CreatedByUserID] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK__Doctors__2DC00EDFC566D10B] PRIMARY KEY CLUSTERED 
(
	[DoctorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persons]    Script Date: 7/12/2026 12:03:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persons](
	[PersonID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[DateOfBirth] [datetime] NOT NULL,
	[Gender] [tinyint] NOT NULL,
	[PhoneNumber] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](250) NOT NULL,
	[NationalityCountryID] [int] NOT NULL,
	[ImagePath] [nvarchar](250) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK__Persons__AA2FFB85F554207C] PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Visits]    Script Date: 7/12/2026 12:03:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Visits](
	[VisitID] [int] IDENTITY(1,1) NOT NULL,
	[PatientID] [int] NOT NULL,
	[Diagnosis] [nvarchar](max) NULL,
	[VisitDate] [datetime] NOT NULL,
	[AppointmentID] [int] NOT NULL,
	[VisitNotes] [nvarchar](max) NULL,
	[DoctorID] [int] NOT NULL,
	[VisitStatus] [tinyint] NOT NULL,
	[CreatedByUserID] [int] NOT NULL,
 CONSTRAINT [PK__Visits__4D3AA1BE7839A5CB] PRIMARY KEY CLUSTERED 
(
	[VisitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 7/12/2026 12:03:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[PatientID] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [int] NOT NULL,
	[EmergencyContact] [nvarchar](20) NOT NULL,
	[BloodTypeID] [int] NOT NULL,
	[MedicalHistory] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedByUserID] [int] NOT NULL,
 CONSTRAINT [PK__Patients__970EC346CD71938E] PRIMARY KEY CLUSTERED 
(
	[PatientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prescriptions]    Script Date: 7/12/2026 12:03:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prescriptions](
	[PrescriptionID] [int] IDENTITY(1,1) NOT NULL,
	[PrescriptionDate] [datetime] NOT NULL,
	[VisitID] [int] NULL,
	[PrescriptionNotes] [nvarchar](max) NULL,
	[PrescriptionStatus] [tinyint] NOT NULL,
	[Prescriptiontype] [tinyint] NOT NULL,
	[BillID] [int] NULL,
 CONSTRAINT [PK__Prescrip__401308125398750D] PRIMARY KEY CLUSTERED 
(
	[PrescriptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_PrescriptionDetails]    Script Date: 7/12/2026 12:03:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE view [dbo].[View_PrescriptionDetails]
  as
SELECT 
    P.PrescriptionID,
    FORMAT(P.PrescriptionDate, 'yyyy-MM-dd') AS PrescriptionDate,

    CASE 
        WHEN P.PrescriptionType = 2 THEN 'Pharmacy Sale'
        ELSE COALESCE(PP.FullName, 'Unknown Patient')
    END AS PatientName,

    CASE 
        WHEN P.PrescriptionType = 2 THEN 'Pharmacy System'
        ELSE COALESCE(PD.FullName, 'Unknown Doctor')
    END AS DoctorName,

    P.VisitID,

    CASE P.PrescriptionStatus
        WHEN 1 THEN 'Pending'
        WHEN 2 THEN 'Waiting For Payment'
        WHEN 3 THEN 'Ready For Dispensing'
        WHEN 4 THEN 'Dispensed'
        WHEN 5 THEN 'Partially Dispensed'
        WHEN 6 THEN 'Cancelled'
        ELSE 'Unknown'
    END AS Status,

    P.PrescriptionNotes AS Notes

FROM Prescriptions P

LEFT JOIN Visits V ON P.VisitID = V.VisitID
LEFT JOIN Patients Pat ON V.PatientID = Pat.PatientID
LEFT JOIN Persons PP ON Pat.PersonID = PP.PersonID
LEFT JOIN Doctors D ON V.DoctorID = D.DoctorID
LEFT JOIN Persons PD ON D.PersonID = PD.PersonID;
GO
/****** Object:  Table [dbo].[DoctorSpecialties]    Script Date: 7/12/2026 12:03:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoctorSpecialties](
	[DoctorID] [int] NOT NULL,
	[SpecializationID] [int] NOT NULL,
 CONSTRAINT [PK_DoctorSpecialties] PRIMARY KEY CLUSTERED 
(
	[DoctorID] ASC,
	[SpecializationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 7/12/2026 12:03:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryID] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specializations]    Script Date: 7/12/2026 12:03:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specializations](
	[SpecializationID] [int] IDENTITY(1,1) NOT NULL,
	[SpecializationName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SpecializationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Days]    Script Date: 7/12/2026 12:03:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Days](
	[DayID] [int] IDENTITY(1,1) NOT NULL,
	[DayName] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoctorWorkingDays]    Script Date: 7/12/2026 12:03:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoctorWorkingDays](
	[DoctorID] [int] NOT NULL,
	[DayID] [int] NOT NULL,
	[ShiftID] [int] IDENTITY(1,1) NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ShiftID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_DoctorsDetails]    Script Date: 7/12/2026 12:03:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_DoctorsDetails] AS
SELECT 
    D.DoctorID, 
    P.PersonID, 
    P.FullName, 
    D.LicenseNumber, 
    D.ConsultationFees,
    S_Agg.Specializations, 
    D_Agg.WorkingDays, 
     C.CountryName,
    D.IsActive
 
FROM Doctors D
INNER JOIN Persons P ON D.PersonID = P.PersonID
LEFT JOIN Countries C ON P.NationalityCountryID = C.CountryID -- الربط الجديد
LEFT JOIN (
    SELECT DS.DoctorID, STRING_AGG(S.SpecializationName, ', ') AS Specializations
    FROM DoctorSpecialties DS 
    INNER JOIN Specializations S ON S.SpecializationID = DS.SpecializationID 
    GROUP BY DS.DoctorID
) AS S_Agg ON D.DoctorID = S_Agg.DoctorID
LEFT JOIN (
    SELECT DW.DoctorID, STRING_AGG(DA.DayName, ', ') AS WorkingDays
    FROM DoctorWorkingDays DW 
    INNER JOIN Days DA ON DA.DayID = DW.DayID 
    GROUP BY DW.DoctorID
) AS D_Agg ON D.DoctorID = D_Agg.DoctorID
WHERE P.IsDeleted = 0;
GO
/****** Object:  View [dbo].[View_VisitDetails]    Script Date: 7/12/2026 12:03:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE  view [dbo].[View_VisitDetails] as 
  SELECT V.VisitID ,V.AppointmentID,V.PatientID,V.DoctorID,PP.FullName As PatientName,PD.FullName As DoctorName 
            ,V.VisitDate,V.Diagnosis, CASE V.VisitStatus
     WHEN 1 THEN 'Active'
     WHEN 2 THEN 'Pending_Billing'
      WHEN 3 THEN 'Completed'
     ELSE 'Unknown'
 END AS StatusText,
            V.CreatedByUserID
  FROM Visits V  INNER JOIN Patients P ON V.PatientID=P.PatientID
                 INNER JOIN Persons PP ON P.PersonID=PP.PersonID
                 INNER JOIN Doctors D ON V.DoctorID=D.DoctorID
                 INNER JOIN Persons PD ON D.PersonID=PD.PersonID
GO
/****** Object:  Table [dbo].[AppointmentTypes]    Script Date: 7/12/2026 12:03:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppointmentTypes](
	[AppointmentTypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](100) NOT NULL,
	[DefaultFees] [smallmoney] NOT NULL,
	[DefaultDuration] [int] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[AppointmentTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 7/12/2026 12:03:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[AppointmentID] [int] IDENTITY(1,1) NOT NULL,
	[PatientID] [int] NOT NULL,
	[DoctorID] [int] NOT NULL,
	[CreatedByUserID] [int] NOT NULL,
	[AppointmentStatus] [tinyint] NOT NULL,
	[AppointmentTypeID] [int] NOT NULL,
	[AppointmentFees] [decimal](18, 2) NOT NULL,
	[AppointmentDate] [datetime] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CheckInTime] [datetime] NULL,
	[ExaminationStartTime] [datetime] NULL,
	[ExaminationEndTime] [datetime] NULL,
	[LastModifiedDate] [datetime] NULL,
	[LastModifiedByUserID] [int] NULL,
	[IsCalled] [bit] NOT NULL,
	[CallType] [int] NOT NULL,
 CONSTRAINT [PK__Appointm__8ECDFCA2B23F5525] PRIMARY KEY CLUSTERED 
(
	[AppointmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_AppointmentsDetails]    Script Date: 7/12/2026 12:03:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

     CREATE VIEW [dbo].[View_AppointmentsDetails]
AS
  SELECT   
    A.AppointmentID,  
    PePatient.FullName AS PatientName,  
    PeDoctor.FullName AS DoctorName,  
    Ap.TypeName,  
    A.AppointmentFees,  
    A.AppointmentDate,  
   CASE A.AppointmentStatus  
        WHEN 1 THEN 'Scheduled'     
        WHEN 2 THEN 'In-Queue'      
        WHEN 3 THEN 'In-Progress'    
        WHEN 4 THEN 'Postponed'      
        WHEN 5 THEN 'Completed'      
        WHEN 6 THEN 'Cancelled' 
        WHEN 7 THEN 'Waiting_For_Vitals'
        WHEN 8 THEN 'Ready_For_Doctor'
        WHEN 9 THEN 'In_Billing'
        ELSE 'Unknown'  
    END AS AppointmentStatusText,
    A.CreatedByUserID  
FROM Appointments A   
INNER JOIN Patients P ON A.PatientID = P.PatientID   
INNER JOIN Persons PePatient ON P.PersonID = PePatient.PersonID  
INNER JOIN Doctors D ON A.DoctorID = D.DoctorID   
INNER JOIN Persons PeDoctor ON D.PersonID = PeDoctor.PersonID  
INNER JOIN AppointmentTypes Ap ON A.AppointmentTypeID = Ap.AppointmentTypeID
GO
/****** Object:  Table [dbo].[BloodTypes]    Script Date: 7/12/2026 12:03:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BloodTypes](
	[BloodTypeID] [int] IDENTITY(1,1) NOT NULL,
	[BloodTypeName] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BloodTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_PatientsDetails]    Script Date: 7/12/2026 12:03:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create View  [dbo].[View_PatientsDetails] as
SELECT Patients.PatientID, Persons.PersonID, Persons.FullName,
                             Patients.MedicalHistory,Patients.CreatedDate, Countries.CountryName,
                             BloodTypes.BloodTypeName, Patients.EmergencyContact
                             FROM Persons 
                             INNER JOIN Patients ON Persons.PersonID = Patients.PersonID
                             INNER JOIN Countries ON Persons.NationalityCountryID = Countries.CountryID
                             INNER JOIN BloodTypes ON Patients.BloodTypeID = BloodTypes.BloodTypeID
                             WHERE Persons.IsDeleted = 0
GO
/****** Object:  View [dbo].[View_PersonDetails]    Script Date: 7/12/2026 12:03:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create View  [dbo].[View_PersonDetails] as
SELECT Persons.PersonID, Persons.FullName, Persons.DateOfBirth, 
               GenderCaption = CASE Persons.Gender WHEN 0 THEN 'Male' ELSE 'Female' END,
               Persons.PhoneNumber, Countries.CountryName, Persons.Address,
                     Persons.Email FROM Persons
                    INNER JOIN Countries ON Persons.NationalityCountryID = Countries.CountryID
                    WHERE Persons.IsDeleted =0
GO
/****** Object:  View [dbo].[View_PersonTrashDetails]    Script Date: 7/12/2026 12:03:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create View  [dbo].[View_PersonTrashDetails] as
SELECT Persons.PersonID, Persons.FullName, Persons.DateOfBirth, 
               GenderCaption = CASE Persons.Gender WHEN 0 THEN 'Male' ELSE 'Female' END,
               Persons.PhoneNumber, Countries.CountryName, Persons.Address,
                     Persons.Email FROM Persons
                    INNER JOIN Countries ON Persons.NationalityCountryID = Countries.CountryID
                    WHERE Persons.IsDeleted =1
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 7/12/2026 12:03:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/12/2026 12:03:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [int] NOT NULL,
	[UserName] [nvarchar](20) NOT NULL,
	[Password] [nvarchar](65) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[RoleID] [int] NOT NULL,
 CONSTRAINT [PK__Users__1788CCAC68A4C9C0] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_UserDetails]    Script Date: 7/12/2026 12:03:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create View  [dbo].[View_UserDetails] as
SELECT U.UserID, P.PersonID, P.FullName, U.UserName, R.RoleName, U.IsActive 
                                 FROM Users U 
                                 INNER JOIN Persons P ON U.PersonID = P.PersonID
                                 INNER JOIN Roles R ON U.RoleID = R.RoleID
                                 WHERE P.IsDeleted = 0;
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 7/12/2026 12:03:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[BillID] [int] NOT NULL,
	[PaymentAmount] [decimal](18, 2) NOT NULL,
	[PaymentDate] [datetime] NOT NULL,
	[PaymentMethod] [nvarchar](50) NOT NULL,
	[CreatedByUserID] [int] NOT NULL,
 CONSTRAINT [PK__Payments__9B556A589C39818B] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VisitServices]    Script Date: 7/12/2026 12:03:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VisitServices](
	[VisitServiceID] [int] IDENTITY(1,1) NOT NULL,
	[VisitID] [int] NOT NULL,
	[ServiceID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[SavedServicePrice] [decimal](18, 2) NOT NULL,
	[Discount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK__VisitSer__97A666D1AC9C0B04] PRIMARY KEY CLUSTERED 
(
	[VisitServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicines]    Script Date: 7/12/2026 12:03:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicines](
	[MedicineID] [int] IDENTITY(1,1) NOT NULL,
	[MedicineName] [nvarchar](150) NOT NULL,
	[MedicinePrice] [decimal](18, 2) NOT NULL,
	[CurrentStock] [int] NOT NULL,
	[ReorderLevel] [int] NOT NULL,
	[TaxRate] [decimal](5, 2) NOT NULL,
 CONSTRAINT [PK__Medicine__4F2128F0B43F1C1A] PRIMARY KEY CLUSTERED 
(
	[MedicineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bills]    Script Date: 7/12/2026 12:03:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bills](
	[BillID] [int] IDENTITY(1,1) NOT NULL,
	[BillNumber] [varchar](20) NULL,
	[VisitID] [int] NULL,
	[BillDate] [datetime] NOT NULL,
	[PaymentStatus] [tinyint] NOT NULL,
	[CreatedByUserID] [int] NOT NULL,
 CONSTRAINT [PK__Bills__11F2FC4AEF037B98] PRIMARY KEY CLUSTERED 
(
	[BillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrescriptionDetails]    Script Date: 7/12/2026 12:03:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrescriptionDetails](
	[PrescriptionDetailsID] [int] IDENTITY(1,1) NOT NULL,
	[MedicineID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Frequency] [int] NOT NULL,
	[Dosage] [nvarchar](250) NOT NULL,
	[Instructions] [nvarchar](500) NULL,
	[SavedMedicineName] [nvarchar](150) NOT NULL,
	[SavedMedicinePrice] [decimal](18, 2) NOT NULL,
	[PrescriptionID] [int] NOT NULL,
	[DiscountAmount] [decimal](5, 2) NOT NULL,
	[IsDispensed] [bit] NULL,
	[DispensedQuantity] [int] NULL,
 CONSTRAINT [PK__MedicalR__4411BBC2CE5FAEB9] PRIMARY KEY CLUSTERED 
(
	[PrescriptionDetailsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_Bills]    Script Date: 7/12/2026 12:03:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  View  [dbo].[View_Bills]
As
SELECT 
    B.BillNumber,
    B.BillID,
   FORMAT(B.BillDate, 'dd/MM/yyyy') AS BillDateString,
    ISNULL(P.FullName, 'Pharmacy Sale') AS PatientName,
    CA.ItemsTotal,
    -- الحساب النهائي: (الكشف + الخدمات + الأدوية)
   (ISNULL(A.AppointmentFees, 0) + CA.TotalMedicinesNet + CA.TotalServicesNet) AS Subtotal,
    ISNULL(Pay.TotalPaid, 0) AS PaymentAmount,
    CASE B.PaymentStatus 
        WHEN 0 THEN 'Pending' WHEN 1 THEN 'Partial' WHEN 2 THEN 'Paid' 
        WHEN 3 THEN 'Refunded' WHEN 4 THEN 'Cancelled' 
    END AS Status
FROM Bills B 
LEFT JOIN Visits V ON B.VisitID = V.VisitID 
LEFT JOIN Appointments A ON V.AppointmentID = A.AppointmentID
LEFT JOIN Patients PA ON V.PatientID = PA.PersonID -- تأكد من مطابقة اسم العمود لديك
LEFT JOIN Persons P ON PA.PersonID = P.PersonID
-- تجميع المدفوعات هنا لتجنب تكرار الصفوف
LEFT JOIN (SELECT BillID, SUM(PaymentAmount) AS TotalPaid FROM Payments GROUP BY BillID) Pay ON B.BillID = Pay.BillID
CROSS APPLY (
    SELECT 
        -- 1. الخدمات
        ISNULL((SELECT SUM((SavedServicePrice * Quantity) - (Discount * Quantity)) FROM VisitServices WHERE VisitID = V.VisitID), 0) AS TotalServicesNet,
            
        -- 2. الأدوية (مع حماية ضد الكميات الصفرية والخصومات السالبة)
         ISNULL((SELECT SUM(
            CASE WHEN PD.DispensedQuantity > 0 
                 THEN ((PD.SavedMedicinePrice * PD.DispensedQuantity) - (PD.DiscountAmount * PD.DispensedQuantity)) * (1 + (M.TaxRate / 100.0)) 
                 ELSE 0 END
        ) FROM PrescriptionDetails PD JOIN Medicines M ON PD.MedicineID = M.MedicineID 
          WHERE PD.PrescriptionID IN (SELECT PrescriptionID FROM Prescriptions WHERE BillID = B.BillID)), 0) AS TotalMedicinesNet,
            
        -- 3. الوصف (يعتمد الآن على BillID ليكون دقيقاً)
        CASE 
            WHEN B.VisitID IS NULL THEN CONCAT((SELECT COUNT(*) FROM Prescriptions WHERE BillID = B.BillID), ' Pharmacy Sale')
            WHEN (SELECT COUNT(*) FROM VisitServices WHERE VisitID = V.VisitID) = 0 
                 AND (SELECT COUNT(*) FROM Prescriptions WHERE BillID = B.BillID) = 0 THEN 'Doctor''s fee'
            ELSE CONCAT((SELECT COUNT(*) FROM VisitServices WHERE VisitID = V.VisitID), ' Servs, ', 
                        (SELECT COUNT(*) FROM Prescriptions WHERE BillID = B.BillID), ' Presc')
        END AS ItemsTotal
) CA
GO
/****** Object:  View [dbo].[View_BillSummaries]    Script Date: 7/12/2026 12:03:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create View [dbo].[View_BillSummaries]
As
SELECT 
    B.BillNumber,
    B.BillID,
    ISNULL(P.FullName, 'Pharmacy Sale') AS PatientName,
    CA.ItemsTotal,
    -- الإجماليات المالية
    (ISNULL(A.AppointmentFees, 0)) AS AppointmentFees,
    CA.TotalMedicinesOnly AS MedicinesTotal,
    CA.TotalServicesOnly AS ServicesTotal,
    CA.TotalDiscount AS TotalDiscount,
    CA.TotalTax AS TotalTax,
    (ISNULL(A.AppointmentFees, 0) + CA.TotalMedicinesNet + CA.TotalServicesNet) AS Subtotal,
    ISNULL(Pay.TotalPaid, 0) AS PaymentAmount,
    ((ISNULL(A.AppointmentFees, 0) + CA.TotalMedicinesNet + CA.TotalServicesNet) - ISNULL(Pay.TotalPaid, 0)) AS BalanceDue
FROM Bills B 
LEFT JOIN Visits V ON B.VisitID = V.VisitID 
LEFT JOIN Appointments A ON V.AppointmentID = A.AppointmentID
LEFT JOIN Patients PA ON V.PatientID = PA.PersonID 
LEFT JOIN Persons P ON PA.PersonID = P.PersonID
LEFT JOIN (SELECT BillID, SUM(PaymentAmount) AS TotalPaid FROM Payments GROUP BY BillID) Pay ON B.BillID = Pay.BillID
CROSS APPLY (
    SELECT 
        -- 1. حسابات الخدمات (بدون تقريب)
        ISNULL((SELECT SUM(SavedServicePrice * Quantity) FROM VisitServices WHERE VisitID = V.VisitID), 0) AS TotalServicesOnly,
        ISNULL((SELECT SUM(Discount * Quantity) FROM VisitServices WHERE VisitID = V.VisitID), 0) AS ServiceDiscount,
        ISNULL((SELECT SUM((SavedServicePrice * Quantity) - (Discount * Quantity)) FROM VisitServices WHERE VisitID = V.VisitID), 0) AS TotalServicesNet,

        -- 2. حسابات الأدوية (بدون تقريب)
        ISNULL((SELECT SUM(SavedMedicinePrice * DispensedQuantity) FROM PrescriptionDetails WHERE PrescriptionID IN (SELECT PrescriptionID FROM Prescriptions WHERE BillID = B.BillID)), 0) AS TotalMedicinesOnly,
        ISNULL((SELECT SUM(DiscountAmount * DispensedQuantity) FROM PrescriptionDetails WHERE PrescriptionID IN (SELECT PrescriptionID FROM Prescriptions WHERE BillID = B.BillID)), 0) AS MedsDiscount,
        
        -- الضريبة فقط هي التي تحتاج تقريب (لضبط الكسور العشرية الناتجة عن النسب المئوية)
        CAST(ROUND(ISNULL((SELECT SUM(
            CASE WHEN PD.DispensedQuantity > 0 
                 THEN ((PD.SavedMedicinePrice * PD.DispensedQuantity) - (PD.DiscountAmount * PD.DispensedQuantity)) * (M.TaxRate / 100.0) 
                 ELSE 0 END
        ) FROM PrescriptionDetails PD JOIN Medicines M ON PD.MedicineID = M.MedicineID 
          WHERE PD.PrescriptionID IN (SELECT PrescriptionID FROM Prescriptions WHERE BillID = B.BillID)), 0), 2) AS DECIMAL(18, 2)) AS TotalTax,

        -- الصافي النهائي للأدوية (بدون تقريب)
        ISNULL((SELECT SUM(
            CASE WHEN PD.DispensedQuantity > 0 
                 THEN ((PD.SavedMedicinePrice * PD.DispensedQuantity) - (PD.DiscountAmount * PD.DispensedQuantity)) * (1 + (M.TaxRate / 100.0)) 
                 ELSE 0 END
        ) FROM PrescriptionDetails PD JOIN Medicines M ON PD.MedicineID = M.MedicineID 
          WHERE PD.PrescriptionID IN (SELECT PrescriptionID FROM Prescriptions WHERE BillID = B.BillID)), 0) AS TotalMedicinesNet,

        -- 3. إجمالي الخصومات (بدون تقريب)
        (ISNULL((SELECT SUM(Discount * Quantity) FROM VisitServices WHERE VisitID = V.VisitID), 0) + 
         ISNULL((SELECT SUM(DiscountAmount * DispensedQuantity) FROM PrescriptionDetails WHERE PrescriptionID IN (SELECT PrescriptionID FROM Prescriptions WHERE BillID = B.BillID)), 0)) AS TotalDiscount,

        -- 4. الوصف
        CASE 
            WHEN B.VisitID IS NULL THEN CONCAT((SELECT COUNT(*) FROM Prescriptions WHERE BillID = B.BillID), ' Pharmacy Sale')
            ELSE CONCAT((SELECT COUNT(*) FROM VisitServices WHERE VisitID = V.VisitID), ' Servs, ', (SELECT COUNT(*) FROM Prescriptions WHERE BillID = B.BillID), ' Presc')
        END AS ItemsTotal
) CA
GO
/****** Object:  Table [dbo].[Services]    Script Date: 7/12/2026 12:03:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[ServiceID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[ServiceFees] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK__Services__C51BB0EABEEA8D48] PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_BillItems]    Script Date: 7/12/2026 12:03:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE View [dbo].[View_BillItems]
as
-- 1. الأدوية: نجلب الـ BillID من جدول Prescriptions المرتبط بجدول Bills
SELECT 
    P.BillID, 
    'Medicine' AS ItemType, 
    PD.SavedMedicineName AS ItemName, 
    PD.DispensedQuantity AS Quantity, 
    PD.SavedMedicinePrice AS Price,       
    (PD.SavedMedicinePrice * PD.DispensedQuantity) AS Total
FROM PrescriptionDetails PD 
JOIN Prescriptions P ON PD.PrescriptionID = P.PrescriptionID

UNION ALL

-- 2. الخدمات: نجلب الـ BillID من جدول Bills المرتبط بالـ VisitID
SELECT 
    B.BillID, 
    'Service' AS ItemType, 
    S.ServiceName AS ItemName, 
    VS.Quantity, 
    VS.SavedServicePrice AS Price,       
    (VS.SavedServicePrice * VS.Quantity) AS Total
FROM VisitServices VS
JOIN Services S ON VS.ServiceID = S.ServiceID
JOIN Bills B ON VS.VisitID = B.VisitID

UNION ALL

-- 3. الموعد: نجلب الـ BillID من جدول Bills المرتبط بـ VisitID -> Appointment
SELECT 
    B.BillID, 
    'Appointment' AS ItemType, 
    'Appointment Fees' AS ItemName, 
    1 AS Quantity, 
    A.AppointmentFees AS Price,
    A.AppointmentFees AS Total
FROM Appointments A
JOIN Visits V ON A.AppointmentID = V.AppointmentID
JOIN Bills B ON V.VisitID = B.VisitID
WHERE A.AppointmentFees > 0;
GO
/****** Object:  View [dbo].[View_PatientsWaitingForDoctors]    Script Date: 7/12/2026 12:03:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[View_PatientsWaitingForDoctors]
As
SELECT 
        V.VisitID,
        A.AppointmentID, 
        P.FullName AS PatientName, 
        A.CheckInTime,
        DP.PersonID AS DoctorPersonID,
        CASE A.AppointmentStatus  
            WHEN 3 THEN 'In-Progress'    
            WHEN 8 THEN 'Ready_For_Doctor'
            ELSE 'Unknown'  
        END AS StatusText,
        CASE WHEN A.CallType = 2 THEN 1 ELSE 0 END AS IsCalled
    FROM Appointments A
    INNER JOIN Visits V ON A.AppointmentID = V.AppointmentID
    INNER JOIN Patients PT ON A.PatientID = PT.PatientID
    INNER JOIN Persons P ON PT.PersonID = P.PersonID
    INNER JOIN Doctors D ON A.DoctorID = D.DoctorID 
    INNER JOIN Persons DP ON D.PersonID = DP.PersonID
GO
/****** Object:  View [dbo].[View_PatientsWaitingForVitals]    Script Date: 7/12/2026 12:03:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

      CREATE VIEW [dbo].[View_PatientsWaitingForVitals]                                
AS
SELECT  V.VisitID,
A.AppointmentID, P.FullName AS PatientName,
                            A.CheckInTime ,
                               CASE A.AppointmentStatus  
        WHEN 2 THEN 'In-Queue'      
        WHEN 7 THEN 'Waiting_For_Vitals'
        ELSE 'Unknown'  
    END AS StatusText,
    
                                    A.IsCalled
                                     FROM Appointments A
                                   INNER JOIN Visits V ON A.AppointmentID = V.AppointmentID

                                    INNER JOIN Patients PT ON A.PatientID = PT.PatientID
                                    INNER JOIN Persons P ON PT.PersonID = P.PersonID
GO
/****** Object:  View [dbo].[View_WaitingPatients]    Script Date: 7/12/2026 12:03:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_WaitingPatients]
AS
SELECT 
    A.AppointmentID,
    Pe.FullName AS PatientName,
    A.CallType,
    A.IsCalled,
    A.CheckInTime,
    A.AppointmentStatus,
    D.DoctorID ,
    CASE A.AppointmentStatus
        WHEN 2 THEN 'In-Queue'
        WHEN 7 THEN 'Waiting_For_Vitals'
        WHEN 8 THEN 'Ready_For_Doctor'
        ELSE 'Unknown'
    END AS StatusText
FROM Appointments A
INNER JOIN Patients P ON A.PatientID = P.PatientID
INNER JOIN Persons Pe ON P.PersonID = Pe.PersonID
INNER JOIN Doctors D ON A.DoctorID = D.DoctorID
GO
/****** Object:  Table [dbo].[DiscountPolicies]    Script Date: 7/12/2026 12:03:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscountPolicies](
	[DiscountID] [int] IDENTITY(1,1) NOT NULL,
	[DiscountName] [nvarchar](100) NOT NULL,
	[MaxPercentage] [decimal](5, 2) NOT NULL,
	[TargetType] [int] NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DiscountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryTransactions]    Script Date: 7/12/2026 12:03:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryTransactions](
	[TransactionID] [int] IDENTITY(1,1) NOT NULL,
	[MedicineID] [int] NOT NULL,
	[QuantityChange] [int] NOT NULL,
	[ReferenceID] [int] NOT NULL,
	[TransactionDate] [datetime] NULL,
	[UserID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PatientBlacklist]    Script Date: 7/12/2026 12:03:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientBlacklist](
	[BlacklistID] [int] IDENTITY(1,1) NOT NULL,
	[PatientID] [int] NOT NULL,
	[BlockedUserID] [int] NOT NULL,
	[BlacklistReason] [nvarchar](255) NULL,
	[BlacklistDate] [datetime] NULL,
	[UnbanDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BlacklistID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleDiscountLimits]    Script Date: 7/12/2026 12:03:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleDiscountLimits](
	[RoleID] [int] NOT NULL,
	[MaxDiscountLimit] [decimal](5, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesReturnDetails]    Script Date: 7/12/2026 12:03:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesReturnDetails](
	[ReturnDetailsID] [int] IDENTITY(1,1) NOT NULL,
	[ReturnID] [int] NOT NULL,
	[PrescriptionDetailsID] [int] NOT NULL,
	[QtyReturned] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReturnDetailsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesReturns]    Script Date: 7/12/2026 12:03:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesReturns](
	[ReturnID] [int] IDENTITY(1,1) NOT NULL,
	[BillID] [int] NOT NULL,
	[ReturnDate] [datetime] NULL,
	[TotalRefund] [decimal](18, 2) NOT NULL,
	[CashierID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReturnID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceCategories]    Script Date: 7/12/2026 12:03:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceCategories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemLogs]    Script Date: 7/12/2026 12:03:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemLogs](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[LogLevel] [nvarchar](50) NULL,
	[Message] [nvarchar](max) NULL,
	[StackTrace] [nvarchar](max) NULL,
	[Source] [nvarchar](255) NULL,
	[UserID] [int] NULL,
	[Timestamp] [datetime] NULL,
	[MachineName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemSettings]    Script Date: 7/12/2026 12:03:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemSettings](
	[SettingID] [int] IDENTITY(1,1) NOT NULL,
	[TaxPercentage] [decimal](5, 2) NOT NULL,
	[LastUpdatedDate] [datetime] NOT NULL,
	[UpdatedByUserID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SettingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vitals]    Script Date: 7/12/2026 12:03:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vitals](
	[VitalID] [int] IDENTITY(1,1) NOT NULL,
	[AppointmentID] [int] NOT NULL,
	[VisitID] [int] NOT NULL,
	[BloodPressure] [nvarchar](20) NOT NULL,
	[Temperature] [decimal](4, 2) NOT NULL,
	[Weight] [decimal](5, 2) NOT NULL,
	[Pulse] [smallint] NOT NULL,
	[RecordedDate] [datetime] NOT NULL,
	[CreatedByUserID] [int] NOT NULL,
 CONSTRAINT [PK__Vitals__725DBAAA9E3710A8] PRIMARY KEY CLUSTERED 
(
	[VitalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Appointments] ON 

SET IDENTITY_INSERT [dbo].[Appointments] OFF
GO
SET IDENTITY_INSERT [dbo].[AppointmentTypes] ON 

INSERT [dbo].[AppointmentTypes] ([AppointmentTypeID], [TypeName], [DefaultFees], [DefaultDuration], [IsActive]) VALUES (1, N'Standard Consultation', 50.0000, 20, 1)
INSERT [dbo].[AppointmentTypes] ([AppointmentTypeID], [TypeName], [DefaultFees], [DefaultDuration], [IsActive]) VALUES (2, N'Urgent / Emergency', 120.0000, NULL, 1)
INSERT [dbo].[AppointmentTypes] ([AppointmentTypeID], [TypeName], [DefaultFees], [DefaultDuration], [IsActive]) VALUES (3, N'Follow-up Visit', 25.0000, 15, 1)
SET IDENTITY_INSERT [dbo].[AppointmentTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Bills] ON 

INSERT [dbo].[Bills] ([BillID], [BillNumber], [VisitID], [BillDate], [PaymentStatus], [CreatedByUserID]) VALUES (38, N'INV-2026-0038', 23, CAST(N'2026-06-24T21:37:49.090' AS DateTime), 2, 9)
INSERT [dbo].[Bills] ([BillID], [BillNumber], [VisitID], [BillDate], [PaymentStatus], [CreatedByUserID]) VALUES (41, N'INV-2026-0041', 24, CAST(N'2026-06-25T00:39:49.750' AS DateTime), 1, 9)
INSERT [dbo].[Bills] ([BillID], [BillNumber], [VisitID], [BillDate], [PaymentStatus], [CreatedByUserID]) VALUES (42, N'INV-2026-0042', NULL, CAST(N'2026-06-28T23:00:14.500' AS DateTime), 2, 21)
SET IDENTITY_INSERT [dbo].[Bills] OFF
GO
SET IDENTITY_INSERT [dbo].[BloodTypes] ON 

INSERT [dbo].[BloodTypes] ([BloodTypeID], [BloodTypeName]) VALUES (2, N'A-')
INSERT [dbo].[BloodTypes] ([BloodTypeID], [BloodTypeName]) VALUES (1, N'A+')
INSERT [dbo].[BloodTypes] ([BloodTypeID], [BloodTypeName]) VALUES (6, N'AB-')
SET IDENTITY_INSERT [dbo].[BloodTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([CountryID], [CountryName]) VALUES (1, N'Afghanistan')
INSERT [dbo].[Countries] ([CountryID], [CountryName]) VALUES (2, N'Albania')
INSERT [dbo].[Countries] ([CountryID], [CountryName]) VALUES (3, N'Algeria')
GO
SET IDENTITY_INSERT [dbo].[Countries] OFF
GO
SET IDENTITY_INSERT [dbo].[Days] ON 

INSERT [dbo].[Days] ([DayID], [DayName]) VALUES (7, N'Friday')
INSERT [dbo].[Days] ([DayID], [DayName]) VALUES (3, N'Monday')
INSERT [dbo].[Days] ([DayID], [DayName]) VALUES (1, N'Saturday')
SET IDENTITY_INSERT [dbo].[Days] OFF
GO
SET IDENTITY_INSERT [dbo].[DiscountPolicies] ON 

INSERT [dbo].[DiscountPolicies] ([DiscountID], [DiscountName], [MaxPercentage], [TargetType], [IsActive], [CreatedDate]) VALUES (1, N'General Visit Discount', CAST(5.00 AS Decimal(5, 2)), 1, 1, CAST(N'2026-06-14T00:06:17.217' AS DateTime))
INSERT [dbo].[DiscountPolicies] ([DiscountID], [DiscountName], [MaxPercentage], [TargetType], [IsActive], [CreatedDate]) VALUES (2, N'Medical Service Discount', CAST(10.00 AS Decimal(5, 2)), 2, 1, CAST(N'2026-06-14T00:06:17.217' AS DateTime))
INSERT [dbo].[DiscountPolicies] ([DiscountID], [DiscountName], [MaxPercentage], [TargetType], [IsActive], [CreatedDate]) VALUES (3, N'Laboratory Discount', CAST(15.00 AS Decimal(5, 2)), 3, 1, CAST(N'2026-06-14T00:06:17.217' AS DateTime))
SET IDENTITY_INSERT [dbo].[DiscountPolicies] OFF
GO
SET IDENTITY_INSERT [dbo].[Doctors] ON 

INSERT [dbo].[Doctors] ([DoctorID], [PersonID], [ConsultationFees], [LicenseNumber], [CreatedByUserID], [IsActive], [CreatedDate]) VALUES (8, 4, CAST(100.00 AS Decimal(18, 2)), N'kdie903', 1, 1, CAST(N'2026-05-28T23:13:42.720' AS DateTime))
INSERT [dbo].[Doctors] ([DoctorID], [PersonID], [ConsultationFees], [LicenseNumber], [CreatedByUserID], [IsActive], [CreatedDate]) VALUES (14, 14, CAST(150.00 AS Decimal(18, 2)), N'fkjiejkf', 1, 1, CAST(N'2026-06-01T19:15:23.420' AS DateTime))
INSERT [dbo].[Doctors] ([DoctorID], [PersonID], [ConsultationFees], [LicenseNumber], [CreatedByUserID], [IsActive], [CreatedDate]) VALUES (20, 1020, CAST(33.00 AS Decimal(18, 2)), N'بشي', 1, 1, CAST(N'2026-07-03T00:02:20.430' AS DateTime))
SET IDENTITY_INSERT [dbo].[Doctors] OFF
GO
INSERT [dbo].[DoctorSpecialties] ([DoctorID], [SpecializationID]) VALUES (8, 2)
INSERT [dbo].[DoctorSpecialties] ([DoctorID], [SpecializationID]) VALUES (14, 1)
INSERT [dbo].[DoctorSpecialties] ([DoctorID], [SpecializationID]) VALUES (14, 4)
GO
SET IDENTITY_INSERT [dbo].[DoctorWorkingDays] ON 

INSERT [dbo].[DoctorWorkingDays] ([DoctorID], [DayID], [ShiftID], [StartTime], [EndTime]) VALUES (8, 7, 1, CAST(N'08:00:00' AS Time), CAST(N'17:00:00' AS Time))
INSERT [dbo].[DoctorWorkingDays] ([DoctorID], [DayID], [ShiftID], [StartTime], [EndTime]) VALUES (14, 1, 33, CAST(N'17:12:57' AS Time), CAST(N'21:12:57' AS Time))
INSERT [dbo].[DoctorWorkingDays] ([DoctorID], [DayID], [ShiftID], [StartTime], [EndTime]) VALUES (14, 3, 34, CAST(N'01:00:00' AS Time), CAST(N'10:12:57' AS Time))
SET IDENTITY_INSERT [dbo].[DoctorWorkingDays] OFF
GO
SET IDENTITY_INSERT [dbo].[InventoryTransactions] ON 

INSERT [dbo].[InventoryTransactions] ([TransactionID], [MedicineID], [QuantityChange], [ReferenceID], [TransactionDate], [UserID]) VALUES (1, 4, -2, 42, CAST(N'2026-06-28T23:00:14.530' AS DateTime), 21)
INSERT [dbo].[InventoryTransactions] ([TransactionID], [MedicineID], [QuantityChange], [ReferenceID], [TransactionDate], [UserID]) VALUES (2, 2, -1, 42, CAST(N'2026-06-28T23:00:14.530' AS DateTime), 21)
INSERT [dbo].[InventoryTransactions] ([TransactionID], [MedicineID], [QuantityChange], [ReferenceID], [TransactionDate], [UserID]) VALUES (3, 4, 2, 1, CAST(N'2026-06-28T23:11:11.693' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[InventoryTransactions] OFF
GO
SET IDENTITY_INSERT [dbo].[Medicines] ON 

INSERT [dbo].[Medicines] ([MedicineID], [MedicineName], [MedicinePrice], [CurrentStock], [ReorderLevel], [TaxRate]) VALUES (1, N'Cataflam 60mg', CAST(5.00 AS Decimal(18, 2)), 5, 5, CAST(10.00 AS Decimal(5, 2)))
INSERT [dbo].[Medicines] ([MedicineID], [MedicineName], [MedicinePrice], [CurrentStock], [ReorderLevel], [TaxRate]) VALUES (2, N'Omega 3 Fish Oil', CAST(4.00 AS Decimal(18, 2)), 2, 5, CAST(7.00 AS Decimal(5, 2)))
INSERT [dbo].[Medicines] ([MedicineID], [MedicineName], [MedicinePrice], [CurrentStock], [ReorderLevel], [TaxRate]) VALUES (3, N'Amoxicillin 500mg', CAST(8.50 AS Decimal(18, 2)), 5, 5, CAST(4.00 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[Medicines] OFF
GO
SET IDENTITY_INSERT [dbo].[Patients] ON 

INSERT [dbo].[Patients] ([PatientID], [PersonID], [EmergencyContact], [BloodTypeID], [MedicalHistory], [CreatedDate], [CreatedByUserID]) VALUES (1, 1, N'778', 6, N'ibakfkj', CAST(N'2026-05-24T03:18:06.580' AS DateTime), 1)
INSERT [dbo].[Patients] ([PatientID], [PersonID], [EmergencyContact], [BloodTypeID], [MedicalHistory], [CreatedDate], [CreatedByUserID]) VALUES (6, 14, N'8398403', 9, N'kbidkjjs', CAST(N'2026-06-01T00:24:20.973' AS DateTime), 1)
INSERT [dbo].[Patients] ([PatientID], [PersonID], [EmergencyContact], [BloodTypeID], [MedicalHistory], [CreatedDate], [CreatedByUserID]) VALUES (8, 18, N'74993', 5, NULL, CAST(N'2026-06-04T02:44:40.063' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Patients] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([PaymentID], [BillID], [PaymentAmount], [PaymentDate], [PaymentMethod], [CreatedByUserID]) VALUES (11, 38, CAST(720.00 AS Decimal(18, 2)), CAST(N'2026-06-24T21:37:49.113' AS DateTime), N'Cash', 9)
INSERT [dbo].[Payments] ([PaymentID], [BillID], [PaymentAmount], [PaymentDate], [PaymentMethod], [CreatedByUserID]) VALUES (12, 41, CAST(100.00 AS Decimal(18, 2)), CAST(N'2026-06-25T00:39:49.763' AS DateTime), N'Cash', 9)
INSERT [dbo].[Payments] ([PaymentID], [BillID], [PaymentAmount], [PaymentDate], [PaymentMethod], [CreatedByUserID]) VALUES (1010, 39, CAST(30.00 AS Decimal(18, 2)), CAST(N'2026-06-26T23:27:43.870' AS DateTime), N'Credit Card', 9)
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[Persons] ON 

INSERT [dbo].[Persons] ([PersonID], [FullName], [DateOfBirth], [Gender], [PhoneNumber], [Email], [Address], [NationalityCountryID], [ImagePath], [IsDeleted]) VALUES (1, N'Albara Fahed ', CAST(N'2026-05-19T00:02:30.370' AS DateTime), 0, N'774559799', N'Albara@gmail.com', N'390390', 191, NULL, 0)
INSERT [dbo].[Persons] ([PersonID], [FullName], [DateOfBirth], [Gender], [PhoneNumber], [Email], [Address], [NationalityCountryID], [ImagePath], [IsDeleted]) VALUES (2, N'albara', CAST(N'2026-05-19T00:10:28.110' AS DateTime), 0, N'78', NULL, N'bi', 191, NULL, 0)
INSERT [dbo].[Persons] ([PersonID], [FullName], [DateOfBirth], [Gender], [PhoneNumber], [Email], [Address], [NationalityCountryID], [ImagePath], [IsDeleted]) VALUES (4, N'Mohameeda', CAST(N'2026-05-19T00:30:21.700' AS DateTime), 0, N'64839', NULL, N'ibb', 191, NULL, 0)
SET IDENTITY_INSERT [dbo].[Persons] OFF
GO
SET IDENTITY_INSERT [dbo].[PrescriptionDetails] ON 

INSERT [dbo].[PrescriptionDetails] ([PrescriptionDetailsID], [MedicineID], [Quantity], [Frequency], [Dosage], [Instructions], [SavedMedicineName], [SavedMedicinePrice], [PrescriptionID], [DiscountAmount], [IsDispensed], [DispensedQuantity]) VALUES (129, 4, 2, 3, N'kfjlaf', N'', N'Panadol Extra', CAST(3.00 AS Decimal(18, 2)), 1045, CAST(0.00 AS Decimal(5, 2)), 0, 0)
SET IDENTITY_INSERT [dbo].[PrescriptionDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Prescriptions] ON 

INSERT [dbo].[Prescriptions] ([PrescriptionID], [PrescriptionDate], [VisitID], [PrescriptionNotes], [PrescriptionStatus], [Prescriptiontype], [BillID]) VALUES (1045, CAST(N'2026-07-04T19:25:11.300' AS DateTime), NULL, NULL, 1, 2, NULL)
SET IDENTITY_INSERT [dbo].[Prescriptions] OFF
GO
INSERT [dbo].[RoleDiscountLimits] ([RoleID], [MaxDiscountLimit]) VALUES (1, CAST(50.00 AS Decimal(5, 2)))
INSERT [dbo].[RoleDiscountLimits] ([RoleID], [MaxDiscountLimit]) VALUES (2, CAST(15.00 AS Decimal(5, 2)))
INSERT [dbo].[RoleDiscountLimits] ([RoleID], [MaxDiscountLimit]) VALUES (3, CAST(5.00 AS Decimal(5, 2)))
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (1004, N'Cashier')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (2, N'Doctor')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[ServiceCategories] ON 

INSERT [dbo].[ServiceCategories] ([CategoryID], [CategoryName], [Description]) VALUES (1, N'Visit', N'Consultation or visit fees')
INSERT [dbo].[ServiceCategories] ([CategoryID], [CategoryName], [Description]) VALUES (2, N'MedicalService', N'Medical procedures and treatments')
INSERT [dbo].[ServiceCategories] ([CategoryID], [CategoryName], [Description]) VALUES (3, N'Laboratory', N'Lab tests and diagnostics')
SET IDENTITY_INSERT [dbo].[ServiceCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([ServiceID], [ServiceName], [Description], [ServiceFees]) VALUES (2, N'Blood Glucose Test', N'Fast finger-prick blood sugar test', CAST(6.00 AS Decimal(18, 2)))
INSERT [dbo].[Services] ([ServiceID], [ServiceName], [Description], [ServiceFees]) VALUES (3, N'Wound Dressing', N'Cleaning and dressing of minor wounds', CAST(10.00 AS Decimal(18, 2)))
INSERT [dbo].[Services] ([ServiceID], [ServiceName], [Description], [ServiceFees]) VALUES (4, N'Nebulizer Session', N'Respiratory medication delivery via inhalation', CAST(15.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Services] OFF
GO
SET IDENTITY_INSERT [dbo].[Specializations] ON 

INSERT [dbo].[Specializations] ([SpecializationID], [SpecializationName]) VALUES (3, N'Cardiology')
INSERT [dbo].[Specializations] ([SpecializationID], [SpecializationName]) VALUES (4, N'Dermatology')
INSERT [dbo].[Specializations] ([SpecializationID], [SpecializationName]) VALUES (1, N'General Practice')
SET IDENTITY_INSERT [dbo].[Specializations] OFF
GO
SET IDENTITY_INSERT [dbo].[SystemLogs] ON 

INSERT [dbo].[SystemLogs] ([LogID], [LogLevel], [Message], [StackTrace], [Source], [UserID], [Timestamp], [MachineName]) VALUES (50, N'Error', N'The multi-part identifier "P.PrescriptionStatus" could not be bound.
The multi-part identifier "P.PrescriptionStatus" could not be bound.
The multi-part identifier "P.PrescriptionStatus" could not be bound.', N'   at Clinic_DataAccess.clsPrescriptionData.GetAllPrescriptionDetails() in D:\Albara\My Projects\Wnidows Form C#\Full Stack\Clinic_System\Clinic_DataAccess\clsPrescriptionData.cs:line 289', N'.Net SqlClient Data Provider', NULL, CAST(N'2026-06-19T21:44:36.927' AS DateTime), N'ALBARA')
INSERT [dbo].[SystemLogs] ([LogID], [LogLevel], [Message], [StackTrace], [Source], [UserID], [Timestamp], [MachineName]) VALUES (51, N'Error', N'The multi-part identifier "P.PrescriptionStatus" could not be bound.', N'   at Clinic_DataAccess.clsPrescriptionData.GetAllPrescriptionDetails() in D:\Albara\My Projects\Wnidows Form C#\Full Stack\Clinic_System\Clinic_DataAccess\clsPrescriptionData.cs:line 277', N'.Net SqlClient Data Provider', NULL, CAST(N'2026-06-19T21:46:52.230' AS DateTime), N'ALBARA')
INSERT [dbo].[SystemLogs] ([LogID], [LogLevel], [Message], [StackTrace], [Source], [UserID], [Timestamp], [MachineName]) VALUES (52, N'Error', N'Invalid column name ''TaxRate''.', N'   at Clinic_DataAccess.clsPrescriptionData.GetVisitMedicines(Nullable`1 VisitID) in D:\Albara\My Projects\Wnidows Form C#\Full Stack\Clinic_System\Clinic_DataAccess\clsPrescriptionData.cs:line 166', N'.Net SqlClient Data Provider', NULL, CAST(N'2026-06-21T22:46:47.720' AS DateTime), N'ALBARA')
INSERT [dbo].[SystemLogs] ([LogID], [LogLevel], [Message], [StackTrace], [Source], [UserID], [Timestamp], [MachineName]) VALUES (53, N'Error', N'Invalid column name ''IsVoid''.', N'   at Clinic_DataAccess.clsBillingServiceData.CheckInPatient(Int32 AppointmentID, Decimal Fees, Decimal Discount, Int32 UserID, String PaymentMethod) in D:\Albara\My Projects\Wnidows Form C#\Full Stack\Clinic_System\Clinic_DataAccess\clsBillingServiceData.cs:line 112', N'.Net SqlClient Data Provider', NULL, CAST(N'2026-06-23T01:42:19.970' AS DateTime), N'ALBARA')
INSERT [dbo].[SystemLogs] ([LogID], [LogLevel], [Message], [StackTrace], [Source], [UserID], [Timestamp], [MachineName]) VALUES (57, N'Error', N'The column name ''LastModifiedDate'' is specified more than once in the SET clause or column list of an INSERT. A column cannot be assigned more than one value in the same clause. Modify the clause to make sure that a column is updated only once. If this statement updates or inserts columns into a view, column aliasing can conceal the duplication in your code.', N'   at Clinic_DataAccess.clsAppointmentData.UpdateAppointmentStatus(Int32 AppointmentID, Int16 NewStatus, Int32 UserID, SqlTransaction transaction) in D:\Albara\My Projects\Wnidows Form C#\Full Stack\Clinic_System\Clinic_DataAccess\clsAppointmentData.cs:line 265
   at Clinic_DataAccess.clsBillingServiceData.CheckInPatient(Int32 AppointmentID, Int32 DoctorID, Int32 PatientID, Decimal Fees, Decimal Discount, Int32 UserID, String PaymentMethod) in D:\Albara\My Projects\Wnidows Form C#\Full Stack\Clinic_System\Clinic_DataAccess\clsBillingServiceData.cs:line 68', N'.Net SqlClient Data Provider', NULL, CAST(N'2026-06-23T01:54:28.147' AS DateTime), N'ALBARA')
INSERT [dbo].[SystemLogs] ([LogID], [LogLevel], [Message], [StackTrace], [Source], [UserID], [Timestamp], [MachineName]) VALUES (59, N'Error', N'Violation of UNIQUE KEY constraint ''UQ_Visits_AppointmentID''. Cannot insert duplicate key in object ''dbo.Visits''. The duplicate key value is (21).
The statement has been terminated.', N'   at Clinic_DataAccess.clsBillingServiceData.CheckInPatient(Int32 AppointmentID, Int32 DoctorID, Int32 PatientID, Decimal Fees, Int32 UserID, String PaymentMethod) in D:\Albara\My Projects\Wnidows Form C#\Full Stack\Clinic_System\Clinic_DataAccess\clsBillingServiceData.cs:line 34', N'.Net SqlClient Data Provider', NULL, CAST(N'2026-06-24T01:22:04.947' AS DateTime), N'ALBARA')
INSERT [dbo].[SystemLogs] ([LogID], [LogLevel], [Message], [StackTrace], [Source], [UserID], [Timestamp], [MachineName]) VALUES (60, N'Error', N'Violation of UNIQUE KEY constraint ''UQ_Visits_AppointmentID''. Cannot insert duplicate key in object ''dbo.Visits''. The duplicate key value is (21).
The statement has been terminated.', N'   at Clinic_DataAccess.clsBillingServiceData.CheckInPatient(Int32 AppointmentID, Int32 DoctorID, Int32 PatientID, Decimal Fees, Int32 UserID, String PaymentMethod) in D:\Albara\My Projects\Wnidows Form C#\Full Stack\Clinic_System\Clinic_DataAccess\clsBillingServiceData.cs:line 34', N'.Net SqlClient Data Provider', NULL, CAST(N'2026-06-24T01:25:13.720' AS DateTime), N'ALBARA')
INSERT [dbo].[SystemLogs] ([LogID], [LogLevel], [Message], [StackTrace], [Source], [UserID], [Timestamp], [MachineName]) VALUES (61, N'Error', N'The INSERT statement conflicted with the FOREIGN KEY constraint "FK_Bills_Visits". The conflict occurred in database "ClinicDB", table "dbo.Visits", column ''VisitID''.
The statement has been terminated.', N'   at Clinic_DataAccess.clsPrescriptionData.SendToCashier(Int32 prescriptionId, DataTable dtDispensedItems, Nullable`1 VisitID, Int32 userId) in D:\Albara\My Projects\Wnidows Form C#\Full Stack\Clinic_System\Clinic_DataAccess\clsPrescriptionData.cs:line 674', N'.Net SqlClient Data Provider', NULL, CAST(N'2026-06-24T03:07:31.863' AS DateTime), N'ALBARA')
INSERT [dbo].[SystemLogs] ([LogID], [LogLevel], [Message], [StackTrace], [Source], [UserID], [Timestamp], [MachineName]) VALUES (1059, N'Error', N'The DELETE statement conflicted with the REFERENCE constraint "FK_Doctors_Persons". The conflict occurred in database "ClinicDB", table "dbo.Doctors", column ''PersonID''.
The statement has been terminated.', N'   at Clinic_DataAccess.clsPersonData.DeletePerson(Int32 PersonID) in D:\Albara\My Projects\Wnidows Form C#\Full Stack\Clinic_System\Clinic_DataAccess\clsPersonData.cs:line 145', N'.Net SqlClient Data Provider', NULL, CAST(N'2026-07-03T03:41:15.490' AS DateTime), N'ALBARA')
INSERT [dbo].[SystemLogs] ([LogID], [LogLevel], [Message], [StackTrace], [Source], [UserID], [Timestamp], [MachineName]) VALUES (1060, N'Error', N'The DELETE statement conflicted with the REFERENCE constraint "FK_Visits_Patients". The conflict occurred in database "ClinicDB", table "dbo.Visits", column ''PatientID''.
The statement has been terminated.', N'   at Clinic_DataAccess.clsPatientData.DeletePatient(Int32 PatientID) in D:\Albara\My Projects\Wnidows Form C#\Full Stack\Clinic_System\Clinic_DataAccess\clsPatientData.cs:line 139', N'.Net SqlClient Data Provider', NULL, CAST(N'2026-07-03T21:41:09.753' AS DateTime), N'ALBARA')
INSERT [dbo].[SystemLogs] ([LogID], [LogLevel], [Message], [StackTrace], [Source], [UserID], [Timestamp], [MachineName]) VALUES (1061, N'Error', N'The DELETE statement conflicted with the REFERENCE constraint "FK_Doctors_Persons". The conflict occurred in database "ClinicDB", table "dbo.Doctors", column ''PersonID''.
The statement has been terminated.', N'   at Clinic_DataAccess.clsPersonData.DeletePerson(Int32 PersonID) in D:\Albara\My Projects\Wnidows Form C#\Full Stack\Clinic_System\Clinic_DataAccess\clsPersonData.cs:line 145', N'.Net SqlClient Data Provider', NULL, CAST(N'2026-07-03T21:42:47.017' AS DateTime), N'ALBARA')
INSERT [dbo].[SystemLogs] ([LogID], [LogLevel], [Message], [StackTrace], [Source], [UserID], [Timestamp], [MachineName]) VALUES (1062, N'Error', N'The DELETE statement conflicted with the REFERENCE constraint "FK_Visits_Appointments". The conflict occurred in database "ClinicDB", table "dbo.Visits", column ''AppointmentID''.
The statement has been terminated.', N'   at Clinic_DataAccess.clsAppointmentData.DeleteAppointment(Int32 AppointmentID) in D:\Albara\My Projects\Wnidows Form C#\Full Stack\Clinic_System\Clinic_DataAccess\clsAppointmentData.cs:line 174', N'.Net SqlClient Data Provider', NULL, CAST(N'2026-07-03T22:44:18.260' AS DateTime), N'ALBARA')
INSERT [dbo].[SystemLogs] ([LogID], [LogLevel], [Message], [StackTrace], [Source], [UserID], [Timestamp], [MachineName]) VALUES (1063, N'Error', N'String or binary data would be truncated in table ''ClinicDB.dbo.Users'', column ''Password''. Truncated value: ''65daf73e9bc15ea710fdb3873b397d2b6eb180fecaf9bf4350''.
The statement has been terminated.', N'   at Clinic_DataAccess.clsUserData.UpdateUser(Int32 UserID, Int32 PersonID, String UserName, String Password, Boolean IsActive, Int32 RoleID) in D:\Albara\My Projects\Wnidows Form C#\Full Stack\Clinic_System\Clinic_DataAccess\clsUserData.cs:line 200', N'.Net SqlClient Data Provider', NULL, CAST(N'2026-07-04T19:34:16.737' AS DateTime), N'ALBARA')
SET IDENTITY_INSERT [dbo].[SystemLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[SystemSettings] ON 

INSERT [dbo].[SystemSettings] ([SettingID], [TaxPercentage], [LastUpdatedDate], [UpdatedByUserID]) VALUES (2, CAST(15.00 AS Decimal(5, 2)), CAST(N'2026-06-09T02:18:51.657' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[SystemSettings] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [PersonID], [UserName], [Password], [IsActive], [RoleID]) VALUES (1, 1, N'Albara', N'65daf73e9bc15ea710fdb3873b397d2b6eb180fecaf9bf43507a63f22a857b5b', 1, 1)
INSERT [dbo].[Users] ([UserID], [PersonID], [UserName], [Password], [IsActive], [RoleID]) VALUES (2, 2, N'RR', N'e6c5af58dda1be3d2123e9274eac9111265d7619cb9f70f5d545704d56eb1996', 1, 3)
INSERT [dbo].[Users] ([UserID], [PersonID], [UserName], [Password], [IsActive], [RoleID]) VALUES (8, 4, N'DD', N'92f089f2a70df5d960aac7c83dac8bc454c2cb1fa9a8e3061a8f6a84f338f2d1', 1, 2)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Visits] ON 

INSERT [dbo].[Visits] ([VisitID], [PatientID], [Diagnosis], [VisitDate], [AppointmentID], [VisitNotes], [DoctorID], [VisitStatus], [CreatedByUserID]) VALUES (23, 1, N'mmMMkjfa', CAST(N'2026-06-24T21:52:58.913' AS DateTime), 23, N'kjlafafa', 8, 2, 9)
INSERT [dbo].[Visits] ([VisitID], [PatientID], [Diagnosis], [VisitDate], [AppointmentID], [VisitNotes], [DoctorID], [VisitStatus], [CreatedByUserID]) VALUES (24, 9, N'32fafa', CAST(N'2026-06-25T00:43:04.570' AS DateTime), 24, NULL, 8, 2, 9)
INSERT [dbo].[Visits] ([VisitID], [PatientID], [Diagnosis], [VisitDate], [AppointmentID], [VisitNotes], [DoctorID], [VisitStatus], [CreatedByUserID]) VALUES (1023, 1, N'gsg', CAST(N'2026-07-02T04:31:02.153' AS DateTime), 1022, NULL, 8, 2, 9)
SET IDENTITY_INSERT [dbo].[Visits] OFF
GO
SET IDENTITY_INSERT [dbo].[VisitServices] ON 

INSERT [dbo].[VisitServices] ([VisitServiceID], [VisitID], [ServiceID], [Quantity], [SavedServicePrice], [Discount]) VALUES (106, 23, 2, 1, CAST(6.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[VisitServices] ([VisitServiceID], [VisitID], [ServiceID], [Quantity], [SavedServicePrice], [Discount]) VALUES (107, 23, 4, 2, CAST(15.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(18, 2)))
INSERT [dbo].[VisitServices] ([VisitServiceID], [VisitID], [ServiceID], [Quantity], [SavedServicePrice], [Discount]) VALUES (108, 24, 2, 1, CAST(6.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[VisitServices] OFF
GO
SET IDENTITY_INSERT [dbo].[Vitals] ON 

INSERT [dbo].[Vitals] ([VitalID], [AppointmentID], [VisitID], [BloodPressure], [Temperature], [Weight], [Pulse], [RecordedDate], [CreatedByUserID]) VALUES (15, 23, 23, N'120/12', CAST(30.00 AS Decimal(4, 2)), CAST(2.00 AS Decimal(5, 2)), 30, CAST(N'2026-06-24T21:38:12.617' AS DateTime), 10)
INSERT [dbo].[Vitals] ([VitalID], [AppointmentID], [VisitID], [BloodPressure], [Temperature], [Weight], [Pulse], [RecordedDate], [CreatedByUserID]) VALUES (16, 24, 24, N'3/22', CAST(30.00 AS Decimal(4, 2)), CAST(2.00 AS Decimal(5, 2)), 30, CAST(N'2026-06-25T00:40:44.563' AS DateTime), 10)
INSERT [dbo].[Vitals] ([VitalID], [AppointmentID], [VisitID], [BloodPressure], [Temperature], [Weight], [Pulse], [RecordedDate], [CreatedByUserID]) VALUES (1014, 1022, 1023, N'12/22', CAST(37.00 AS Decimal(4, 2)), CAST(70.00 AS Decimal(5, 2)), 75, CAST(N'2026-07-02T03:49:33.857' AS DateTime), 10)
SET IDENTITY_INSERT [dbo].[Vitals] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Bills]    Script Date: 7/12/2026 12:03:55 AM ******/
ALTER TABLE [dbo].[Bills] ADD  CONSTRAINT [IX_Bills] UNIQUE NONCLUSTERED 
(
	[BillNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_BloodTypes_Name]    Script Date: 7/12/2026 12:03:55 AM ******/
ALTER TABLE [dbo].[BloodTypes] ADD  CONSTRAINT [UQ_BloodTypes_Name] UNIQUE NONCLUSTERED 
(
	[BloodTypeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Countries_Name]    Script Date: 7/12/2026 12:03:55 AM ******/
ALTER TABLE [dbo].[Countries] ADD  CONSTRAINT [UQ_Countries_Name] UNIQUE NONCLUSTERED 
(
	[CountryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Days_Name]    Script Date: 7/12/2026 12:03:55 AM ******/
ALTER TABLE [dbo].[Days] ADD  CONSTRAINT [UQ_Days_Name] UNIQUE NONCLUSTERED 
(
	[DayName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Doctors_LicenseNO]    Script Date: 7/12/2026 12:03:55 AM ******/
ALTER TABLE [dbo].[Doctors] ADD  CONSTRAINT [UQ_Doctors_LicenseNO] UNIQUE NONCLUSTERED 
(
	[LicenseNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Doctors_PersonID]    Script Date: 7/12/2026 12:03:55 AM ******/
ALTER TABLE [dbo].[Doctors] ADD  CONSTRAINT [UQ_Doctors_PersonID] UNIQUE NONCLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Medicines_Name]    Script Date: 7/12/2026 12:03:55 AM ******/
ALTER TABLE [dbo].[Medicines] ADD  CONSTRAINT [UQ_Medicines_Name] UNIQUE NONCLUSTERED 
(
	[MedicineName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Patients_PersonID]    Script Date: 7/12/2026 12:03:55 AM ******/
ALTER TABLE [dbo].[Patients] ADD  CONSTRAINT [UQ_Patients_PersonID] UNIQUE NONCLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Persons_Active]    Script Date: 7/12/2026 12:03:55 AM ******/
CREATE NONCLUSTERED INDEX [IX_Persons_Active] ON [dbo].[Persons]
(
	[PersonID] ASC
)
WHERE ([IsDeleted]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Roles_Name]    Script Date: 7/12/2026 12:03:55 AM ******/
ALTER TABLE [dbo].[Roles] ADD  CONSTRAINT [UQ_Roles_Name] UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Specializations_Name]    Script Date: 7/12/2026 12:03:55 AM ******/
ALTER TABLE [dbo].[Specializations] ADD  CONSTRAINT [UQ_Specializations_Name] UNIQUE NONCLUSTERED 
(
	[SpecializationName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Users_PersonID]    Script Date: 7/12/2026 12:03:55 AM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ_Users_PersonID] UNIQUE NONCLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Users_Username]    Script Date: 7/12/2026 12:03:55 AM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ_Users_Username] UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Visits_AppointmentID]    Script Date: 7/12/2026 12:03:55 AM ******/
ALTER TABLE [dbo].[Visits] ADD  CONSTRAINT [UQ_Visits_AppointmentID] UNIQUE NONCLUSTERED 
(
	[AppointmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Appointments] ADD  CONSTRAINT [DF_Appointments_Status]  DEFAULT ('Pending') FOR [AppointmentStatus]
GO
ALTER TABLE [dbo].[Appointments] ADD  CONSTRAINT [DF__Appointme__Creat__6225902D]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Appointments] ADD  CONSTRAINT [DF__Appointme__IsCal__2AA05119]  DEFAULT ((0)) FOR [IsCalled]
GO
ALTER TABLE [dbo].[Appointments] ADD  CONSTRAINT [DF__Appointme__CallT__2B947552]  DEFAULT ((0)) FOR [CallType]
GO
ALTER TABLE [dbo].[AppointmentTypes] ADD  CONSTRAINT [DF_AppointmentTypes_Fees]  DEFAULT ((0)) FOR [DefaultFees]
GO
ALTER TABLE [dbo].[Bills] ADD  CONSTRAINT [DF_Bills_Date]  DEFAULT (getdate()) FOR [BillDate]
GO
ALTER TABLE [dbo].[Bills] ADD  CONSTRAINT [DF_Bills_Status]  DEFAULT ((0)) FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[DiscountPolicies] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[DiscountPolicies] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Doctors] ADD  CONSTRAINT [DF_Doctors_Fees]  DEFAULT ((0)) FOR [ConsultationFees]
GO
ALTER TABLE [dbo].[Doctors] ADD  CONSTRAINT [DF__Doctors__Created__1C873BEC]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[DoctorWorkingDays] ADD  DEFAULT ('08:00:00') FOR [StartTime]
GO
ALTER TABLE [dbo].[DoctorWorkingDays] ADD  DEFAULT ('17:00:00') FOR [EndTime]
GO
ALTER TABLE [dbo].[InventoryTransactions] ADD  DEFAULT (getdate()) FOR [TransactionDate]
GO
ALTER TABLE [dbo].[Medicines] ADD  CONSTRAINT [DF_Medicines_Price]  DEFAULT ((0)) FOR [MedicinePrice]
GO
ALTER TABLE [dbo].[Medicines] ADD  CONSTRAINT [DF__Medicines__Curre__67DE6983]  DEFAULT ((0)) FOR [CurrentStock]
GO
ALTER TABLE [dbo].[Medicines] ADD  CONSTRAINT [DF__Medicines__Reord__68D28DBC]  DEFAULT ((5)) FOR [ReorderLevel]
GO
ALTER TABLE [dbo].[Medicines] ADD  CONSTRAINT [DF__Medicines__TaxRa__20ACD28B]  DEFAULT ((0.00)) FOR [TaxRate]
GO
ALTER TABLE [dbo].[PatientBlacklist] ADD  DEFAULT (getdate()) FOR [BlacklistDate]
GO
ALTER TABLE [dbo].[Payments] ADD  CONSTRAINT [DF__Payments__Paymen__6BAEFA67]  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[Persons] ADD  CONSTRAINT [DF_Persons_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[PrescriptionDetails] ADD  DEFAULT ((0)) FOR [DiscountAmount]
GO
ALTER TABLE [dbo].[PrescriptionDetails] ADD  DEFAULT ((0)) FOR [IsDispensed]
GO
ALTER TABLE [dbo].[PrescriptionDetails] ADD  DEFAULT ((0)) FOR [DispensedQuantity]
GO
ALTER TABLE [dbo].[Prescriptions] ADD  CONSTRAINT [DF_Prescriptions_Date]  DEFAULT (getdate()) FOR [PrescriptionDate]
GO
ALTER TABLE [dbo].[Prescriptions] ADD  CONSTRAINT [DF__Prescript__Presc__68687968]  DEFAULT ((1)) FOR [PrescriptionStatus]
GO
ALTER TABLE [dbo].[Prescriptions] ADD  CONSTRAINT [DF_Prescriptions_Prescriptiontype]  DEFAULT ((1)) FOR [Prescriptiontype]
GO
ALTER TABLE [dbo].[SalesReturns] ADD  DEFAULT (getdate()) FOR [ReturnDate]
GO
ALTER TABLE [dbo].[Services] ADD  CONSTRAINT [DF_Services_Fees]  DEFAULT ((0)) FOR [ServiceFees]
GO
ALTER TABLE [dbo].[SystemSettings] ADD  CONSTRAINT [DF_SystemSettings_Tax]  DEFAULT ((0)) FOR [TaxPercentage]
GO
ALTER TABLE [dbo].[SystemSettings] ADD  CONSTRAINT [DF_SystemSettings_Date]  DEFAULT (getdate()) FOR [LastUpdatedDate]
GO
ALTER TABLE [dbo].[Visits] ADD  CONSTRAINT [DF_Visits_Date]  DEFAULT (getdate()) FOR [VisitDate]
GO
ALTER TABLE [dbo].[Visits] ADD  CONSTRAINT [DF__Visits__VisitSta__640DD89F]  DEFAULT ((1)) FOR [VisitStatus]
GO
ALTER TABLE [dbo].[VisitServices] ADD  CONSTRAINT [DF_VisitServices_Qty]  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[VisitServices] ADD  CONSTRAINT [DF__VisitServ__Disco__6501FCD8]  DEFAULT ((0.00)) FOR [Discount]
GO
ALTER TABLE [dbo].[Vitals] ADD  CONSTRAINT [DF__Vitals__Recorded__26CFC035]  DEFAULT (getdate()) FOR [RecordedDate]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_AppointmentTypes] FOREIGN KEY([AppointmentTypeID])
REFERENCES [dbo].[AppointmentTypes] ([AppointmentTypeID])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_AppointmentTypes]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Users] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Users]
GO
ALTER TABLE [dbo].[Bills]  WITH CHECK ADD  CONSTRAINT [FK_Bills_Users] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Bills] CHECK CONSTRAINT [FK_Bills_Users]
GO
ALTER TABLE [dbo].[Bills]  WITH CHECK ADD  CONSTRAINT [FK_Bills_Visits] FOREIGN KEY([VisitID])
REFERENCES [dbo].[Visits] ([VisitID])
GO
ALTER TABLE [dbo].[Bills] CHECK CONSTRAINT [FK_Bills_Visits]
GO
ALTER TABLE [dbo].[DiscountPolicies]  WITH CHECK ADD  CONSTRAINT [FK_Discount_Category] FOREIGN KEY([TargetType])
REFERENCES [dbo].[ServiceCategories] ([CategoryID])
GO
ALTER TABLE [dbo].[DiscountPolicies] CHECK CONSTRAINT [FK_Discount_Category]
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD  CONSTRAINT [FK_Doctors_Persons] FOREIGN KEY([PersonID])
REFERENCES [dbo].[Persons] ([PersonID])
GO
ALTER TABLE [dbo].[Doctors] CHECK CONSTRAINT [FK_Doctors_Persons]
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD  CONSTRAINT [FK_Doctors_Users] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Doctors] CHECK CONSTRAINT [FK_Doctors_Users]
GO
ALTER TABLE [dbo].[DoctorSpecialties]  WITH NOCHECK ADD  CONSTRAINT [FK_DoctorSpecialties_Doctors] FOREIGN KEY([DoctorID])
REFERENCES [dbo].[Doctors] ([DoctorID])
GO
ALTER TABLE [dbo].[DoctorSpecialties] CHECK CONSTRAINT [FK_DoctorSpecialties_Doctors]
GO
ALTER TABLE [dbo].[DoctorSpecialties]  WITH NOCHECK ADD  CONSTRAINT [FK_DoctorSpecialties_Specializations] FOREIGN KEY([SpecializationID])
REFERENCES [dbo].[Specializations] ([SpecializationID])
GO
ALTER TABLE [dbo].[DoctorSpecialties] CHECK CONSTRAINT [FK_DoctorSpecialties_Specializations]
GO
ALTER TABLE [dbo].[DoctorWorkingDays]  WITH NOCHECK ADD  CONSTRAINT [FK_DoctorWorkingDays_Days1] FOREIGN KEY([DayID])
REFERENCES [dbo].[Days] ([DayID])
GO
ALTER TABLE [dbo].[DoctorWorkingDays] CHECK CONSTRAINT [FK_DoctorWorkingDays_Days1]
GO
ALTER TABLE [dbo].[DoctorWorkingDays]  WITH NOCHECK ADD  CONSTRAINT [FK_DoctorWorkingDays_Doctors1] FOREIGN KEY([DoctorID])
REFERENCES [dbo].[Doctors] ([DoctorID])
GO
ALTER TABLE [dbo].[DoctorWorkingDays] CHECK CONSTRAINT [FK_DoctorWorkingDays_Doctors1]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [FK_Inventory_Medicines] FOREIGN KEY([MedicineID])
REFERENCES [dbo].[Medicines] ([MedicineID])
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [FK_Inventory_Medicines]
GO
ALTER TABLE [dbo].[PatientBlacklist]  WITH CHECK ADD  CONSTRAINT [FK_Blacklist_Patient] FOREIGN KEY([PatientID])
REFERENCES [dbo].[Patients] ([PatientID])
GO
ALTER TABLE [dbo].[PatientBlacklist] CHECK CONSTRAINT [FK_Blacklist_Patient]
GO
ALTER TABLE [dbo].[PatientBlacklist]  WITH CHECK ADD  CONSTRAINT [FK_Blacklist_User] FOREIGN KEY([BlockedUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[PatientBlacklist] CHECK CONSTRAINT [FK_Blacklist_User]
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD  CONSTRAINT [FK_Patients_BloodTypes] FOREIGN KEY([BloodTypeID])
REFERENCES [dbo].[BloodTypes] ([BloodTypeID])
GO
ALTER TABLE [dbo].[Patients] CHECK CONSTRAINT [FK_Patients_BloodTypes]
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD  CONSTRAINT [FK_Patients_Persons] FOREIGN KEY([PersonID])
REFERENCES [dbo].[Persons] ([PersonID])
GO
ALTER TABLE [dbo].[Patients] CHECK CONSTRAINT [FK_Patients_Persons]
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD  CONSTRAINT [FK_Patients_Users] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Patients] CHECK CONSTRAINT [FK_Patients_Users]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Bills] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Bills]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Users] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Users]
GO
ALTER TABLE [dbo].[Persons]  WITH CHECK ADD  CONSTRAINT [FK_Persons_Countries] FOREIGN KEY([NationalityCountryID])
REFERENCES [dbo].[Countries] ([CountryID])
GO
ALTER TABLE [dbo].[Persons] CHECK CONSTRAINT [FK_Persons_Countries]
GO
ALTER TABLE [dbo].[PrescriptionDetails]  WITH NOCHECK ADD  CONSTRAINT [FK_MedicalRecords_Medicines] FOREIGN KEY([MedicineID])
REFERENCES [dbo].[Medicines] ([MedicineID])
GO
ALTER TABLE [dbo].[PrescriptionDetails] CHECK CONSTRAINT [FK_MedicalRecords_Medicines]
GO
ALTER TABLE [dbo].[PrescriptionDetails]  WITH NOCHECK ADD  CONSTRAINT [FK_PrescriptionDetails_Prescriptions] FOREIGN KEY([PrescriptionID])
REFERENCES [dbo].[Prescriptions] ([PrescriptionID])
GO
ALTER TABLE [dbo].[PrescriptionDetails] CHECK CONSTRAINT [FK_PrescriptionDetails_Prescriptions]
GO
ALTER TABLE [dbo].[Prescriptions]  WITH CHECK ADD  CONSTRAINT [FK_Prescriptions_Bills] FOREIGN KEY([BillID])
REFERENCES [dbo].[Bills] ([BillID])
GO
ALTER TABLE [dbo].[Prescriptions] CHECK CONSTRAINT [FK_Prescriptions_Bills]
GO
ALTER TABLE [dbo].[Prescriptions]  WITH CHECK ADD  CONSTRAINT [FK_Prescriptions_Visits] FOREIGN KEY([VisitID])
REFERENCES [dbo].[Visits] ([VisitID])
GO
ALTER TABLE [dbo].[Prescriptions] CHECK CONSTRAINT [FK_Prescriptions_Visits]
GO
ALTER TABLE [dbo].[RoleDiscountLimits]  WITH CHECK ADD  CONSTRAINT [FK_Role_Discount] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[RoleDiscountLimits] CHECK CONSTRAINT [FK_Role_Discount]
GO
ALTER TABLE [dbo].[SalesReturnDetails]  WITH NOCHECK ADD  CONSTRAINT [FK_ReturnDetails_PrescriptionDetails] FOREIGN KEY([PrescriptionDetailsID])
REFERENCES [dbo].[PrescriptionDetails] ([PrescriptionDetailsID])
GO
ALTER TABLE [dbo].[SalesReturnDetails] CHECK CONSTRAINT [FK_ReturnDetails_PrescriptionDetails]
GO
ALTER TABLE [dbo].[SalesReturnDetails]  WITH NOCHECK ADD  CONSTRAINT [FK_ReturnDetails_Returns] FOREIGN KEY([ReturnID])
REFERENCES [dbo].[SalesReturns] ([ReturnID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SalesReturnDetails] CHECK CONSTRAINT [FK_ReturnDetails_Returns]
GO
ALTER TABLE [dbo].[SalesReturns]  WITH CHECK ADD  CONSTRAINT [FK_SalesReturns_Bills] FOREIGN KEY([BillID])
REFERENCES [dbo].[Bills] ([BillID])
GO
ALTER TABLE [dbo].[SalesReturns] CHECK CONSTRAINT [FK_SalesReturns_Bills]
GO
ALTER TABLE [dbo].[SystemSettings]  WITH CHECK ADD  CONSTRAINT [FK_SystemSettings_Users] FOREIGN KEY([UpdatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[SystemSettings] CHECK CONSTRAINT [FK_SystemSettings_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Persons] FOREIGN KEY([PersonID])
REFERENCES [dbo].[Persons] ([PersonID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Persons]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[Visits]  WITH CHECK ADD  CONSTRAINT [FK_Visits_Appointments] FOREIGN KEY([AppointmentID])
REFERENCES [dbo].[Appointments] ([AppointmentID])
GO
ALTER TABLE [dbo].[Visits] CHECK CONSTRAINT [FK_Visits_Appointments]
GO
ALTER TABLE [dbo].[Visits]  WITH CHECK ADD  CONSTRAINT [FK_Visits_Doctors] FOREIGN KEY([DoctorID])
REFERENCES [dbo].[Doctors] ([DoctorID])
GO
ALTER TABLE [dbo].[Visits] CHECK CONSTRAINT [FK_Visits_Doctors]
GO
ALTER TABLE [dbo].[Visits]  WITH CHECK ADD  CONSTRAINT [FK_Visits_Patients] FOREIGN KEY([PatientID])
REFERENCES [dbo].[Patients] ([PatientID])
GO
ALTER TABLE [dbo].[Visits] CHECK CONSTRAINT [FK_Visits_Patients]
GO
ALTER TABLE [dbo].[Visits]  WITH CHECK ADD  CONSTRAINT [FK_Visits_Users] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Visits] CHECK CONSTRAINT [FK_Visits_Users]
GO
ALTER TABLE [dbo].[VisitServices]  WITH NOCHECK ADD  CONSTRAINT [FK_VisitServices_Services] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Services] ([ServiceID])
GO
ALTER TABLE [dbo].[VisitServices] CHECK CONSTRAINT [FK_VisitServices_Services]
GO
ALTER TABLE [dbo].[VisitServices]  WITH NOCHECK ADD  CONSTRAINT [FK_VisitServices_Visits] FOREIGN KEY([VisitID])
REFERENCES [dbo].[Visits] ([VisitID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VisitServices] CHECK CONSTRAINT [FK_VisitServices_Visits]
GO
ALTER TABLE [dbo].[Vitals]  WITH CHECK ADD  CONSTRAINT [FK_Vitals_Appointments] FOREIGN KEY([AppointmentID])
REFERENCES [dbo].[Appointments] ([AppointmentID])
GO
ALTER TABLE [dbo].[Vitals] CHECK CONSTRAINT [FK_Vitals_Appointments]
GO
ALTER TABLE [dbo].[Vitals]  WITH CHECK ADD  CONSTRAINT [FK_Vitals_Users] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Vitals] CHECK CONSTRAINT [FK_Vitals_Users]
GO
ALTER TABLE [dbo].[Vitals]  WITH CHECK ADD  CONSTRAINT [FK_Vitals_Visits] FOREIGN KEY([VisitID])
REFERENCES [dbo].[Visits] ([VisitID])
GO
ALTER TABLE [dbo].[Vitals] CHECK CONSTRAINT [FK_Vitals_Visits]
GO
ALTER TABLE [dbo].[PrescriptionDetails]  WITH NOCHECK ADD  CONSTRAINT [CHK_MedicalRecords_Qty] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[PrescriptionDetails] CHECK CONSTRAINT [CHK_MedicalRecords_Qty]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Scheduled=1 ,InQueue=2,In-Progress=3, Postponed=4,Completed=5 ,Cancelled=6,Waiting_For_Vitals=7,Ready_For_Doctor=8,In_Billing=9' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Appointments', @level2type=N'COLUMN',@level2name=N'AppointmentStatus'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'No=0,Yes=1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Appointments', @level2type=N'COLUMN',@level2name=N'IsCalled'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'CallNurse=1,CallDoctor=2' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Appointments', @level2type=N'COLUMN',@level2name=N'CallType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Pending=0,Partial=1,Paid=2,Refunded=3,Cancelled=4' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Bills', @level2type=N'COLUMN',@level2name=N'PaymentStatus'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1=doctor,2=Dirict Sales' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Prescriptions', @level2type=N'COLUMN',@level2name=N'VisitID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Pending = 1,Waiting_For_Payment=2,Ready_To_Dispense=3,Dispensed=4,Partially_Dispensed=5,Cancelled=6' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Prescriptions', @level2type=N'COLUMN',@level2name=N'PrescriptionStatus'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Doctor=1,Pharmicy=2' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Prescriptions', @level2type=N'COLUMN',@level2name=N'Prescriptiontype'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1: Active, 2: Pending_Billing, 3: Completed' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Visits', @level2type=N'COLUMN',@level2name=N'VisitStatus'
GO
USE [master]
GO
